# Extract from the repository root (mapping paths are relative to the input dir):
# pybabel extract -F babel.cfg -k _ -k N_ -k gettext -k lazy_gettext -o gefapi/translations/messages.pot .

[python: gefapi/**.py]
encoding = utf-8

[jinja2: gefapi/templates/**.html]
encoding = utf-8
