version: '2'

services:
    develop:
      extends:
        file: base.yml
        service: base
      container_name: gef-api-develop
      ports:
        - "3000:3000"
      env_file:
        - develop.env
      command: develop
      volumes:
        - ./gefapi:/opt/gef-api/gefapi
        - ./migrations:/opt/gef-api/migrations
        - /var/run/docker.sock:/tmp/docker.sock
        - /data/scripts:/data/scripts
      restart: always
      links:
        - database
        - registry
        - redis
    worker:
      extends:
        file: base.yml
        service: base
      container_name: gef-api-worker-develop
      env_file:
        - develop.env
      command: worker
      volumes:
        - ./gefapi:/opt/gef-api/gefapi
        - ./migrations:/opt/gef-api/migrations
        - /var/run/docker.sock:/tmp/docker.sock
        - /data/scripts:/data/scripts
      restart: always
      links:
        - database
        - registry
        - redis

    database:
      image: postgres:9.6
      container_name: gef-api-database
      env_file:
        - develop.env
      volumes:
          - postgres-data:/var/lib/postgresql/data
      ports:
        - 5432:5432
      restart: always

    registry:
        image: registry:2.6.1
        container_name: gef-api-registry
        env_file:
          - develop.env
        ports:
          - 5000:5000
        restart: always

    redis:
        image: redis
        container_name: gef-api-redis
        env_file:
          - develop.env
        ports:
          - 6379
        restart: always

volumes:
    postgres-data:
        external: true
